/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sarabun', sans-serif;
  background-color: #222;
  display: flex;
  height: 100vh;
}

/* Wrapper for sidebar and main content */
.wrapper {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px; /* Fixed width for sidebar */
  background-color: #000;
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  height: 100vh; /* Full height */
}

.logo h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: white;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-bottom: 15px; /* Consistent gap between all list items */
  padding: 8px 15px; /* Smaller padding for compact size */
  font-size: 1rem; /* Smaller text size */
  cursor: pointer;
  display: flex;
  align-items: center; /* Aligns the icon and text horizontally */
  gap: 8px; /* Adjusted gap between icons and text */
  color: white;
}

.nav li i {
  font-size: 1rem; /* Smaller icon size */
  margin-left: 5px; /* Move the icon slightly to the left */
  padding-right: 8px; /* Add padding to move items a little to the right */
}

.nav li.login-item {
  margin-bottom: 15px; /* Removed extra margin for consistency */
}

.nav li.active {
  font-weight: bold;
  background-color: #1B2223;
  border-radius: 5px;
}

.nav li:hover {
  background-color: #333;
  border-radius: 5px;
}

/* Main content area */
.main-content {
  flex-grow: 1;
  background-color: #131213;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px; /* Adjusted height for better spacing */
  margin-top: 40px; /* Space from the top */
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  width: 400px; /* Wider input */
  margin-top: 20px;
}

button {
  padding: 1rem;
  font-size: 0.8rem;
  background-color: #EDEDED;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px; /* Fixed button width */
  margin-top: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: #777;
}
